.env
.DS_Store
__pycache__
ssrn-abstract-classifier
wandb
pwb_toolbox/datasets/logfile.log
*.egg-info
*.whl
*.tar.gz

server/airflow/airflow.db
server/airflow/simple_auth_manager_passwords.json.generated
server/airflow/logs
