backtrader
beautifulsoup4
ccxt  # for crypto-exchange connectivity
click
datasets
deap
ffn
huggingface_hub
ib_insync
kili
langchain
lxml
matplotlib
numba
pandas
pytz
scipy
selenium
tqdm
twilio
webdriver_manager
