backtrader
beautifulsoup4
ccxt  # for crypto-exchange connectivity
click
datasets
deap
ffn
huggingface_hub
ib_insync
kili
langchain
lxml
matplotlib
numba
numpy
pandas
python-dateutil
pytz
requests
scikit-learn
scipy
seaborn
selenium
textract
tqdm
transformers
webdriver_manager
